<article class="listing">
	<img src="{{manufacture.image}}" alt="">
	{{#link-to "manufactures.show" manufacture.id}}<h3>{{manufacture.title}}</h3>{{/link-to}}
	<div class="detail owner">
		<span>Owner:</span> {{manufacture.owner}}
	</div>
</article>